@import 'vars';
@import 'diagonal';
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

body {
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'proxima nova';
    font-weight: 600;
}

.btn-full {
    display: block;
    margin-bottom: 1rem;
}

.btn {
    border-radius: 0;
}

.first-contact {
    height: 120vh;

    background-image: url(../../images/hero.jpg);
    background-size: cover;
    background-position: top center;

    color: rgba(white, .95);
}
    .first-contact .little-red-stripe {
        height: .375em;
        margin-bottom: -.375em;
        background-color: rgba($sokanu-red, .95);
    }
    .first-contact > .container {
        padding-top: .375em;
    }
    .first-contact .access {
        margin: 20px 0;
        float: right;
    }
    .first-contact .logo-group {
        padding: 1em;
        float: left;
        background-color: rgba($sokanu-red, .95);
        background-image: linear-gradient(168deg, rgba($sokanu-red, .95), darken(rgba($sokanu-red, .95), 12%));
        cursor: pointer;
    }
    .first-contact .logo {
        margin: 0;
        font-family: 'hypatia sans pro';
        font-size: 3em;
        font-weight: 600;
        line-height: 1;
    }
    .first-contact .logo-helper {
        width: 125px;
        margin: 0;
        padding: 0 1.25em;
        display: flex;
        justify-content: space-between;
        font-size: 1em;
        font-weight: 200;
    }
    .first-contact .call-to-action {
        height: 68vh;
        display: flex;
        align-items: center;

        font-size: 2.4em;
        line-height: 1;
    }
    .first-contact .call-to-action .message {
        font-family: 'proxima nova';
        text-shadow: 0 2px 4px rgba(0, 0, 0, .12);
    }

.service-explanation {
    @include diagonal($angle: 12deg, $height: 50vh);
    @media (min-width: 1500px) {
        @include diagonal($angle: 8deg, $height: 50vh);
    }
}
    .service-explanation > .container,
    .service-explanation > .container > .row {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .service-explanation .headline {
        position: absolute;
        top: 0; left: 0;
        transform-origin: top left;
        display: inline-block;
        margin: 0;
        padding: 1rem 1.5rem;
        background: rgba($synapse-blue, .95);
        font-size: 4em;
        color: rgba(white, .9);
    }
    .service-explanation .title {
        margin-top: 0;
        font-size: 1.5em;
    }

.user-perspectives {
    height: 100vh;

    background: url(../../images/pattern.svg);
}

.conversion {
    @include diagonal($angle: -12deg, $height: 50vh);
    @media (min-width: 1500px) {
        @include diagonal($angle: -8deg, $height: 50vh);
    }
}

.last-section {
    height: 80vh;
    background-color: hsl(8, 4%, 90%);
}

@mixin highlight-group ($color) {

    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            margin-top: 15em - 5em * $i + 3em - $i;
        }
    }

    .icon {
        width: 5em; height: 5em;
        margin-right: .5em;
        float: left;
        background-color: $color;
        color: rgba(white, .9);
    }
    .title {
        display: inline-block;
        margin: 0 0 .5rem;
        padding: .1em;
        background-color: $color;
        color: rgba(white, .9);
        font-size: 1.75em
    }
    .description {
        color: darken(desaturate($color, 12%), 8%);
    }
}

.distinguishing {

    margin-bottom: 4rem;

    .container {
        position: relative;
    }
    .headline {
        position: absolute;
        bottom: 0;
        height: 5rem;
        margin-top: 0;
        margin-bottom: 0;
        color: #AD8984;
        font-size: 1.2em;
        text-align: right;
    }
    .fun {
        @include highlight-group($sokanu-red);
    }
    .internet {
        @include highlight-group($synapse-blue);
    }
    .science {
        @include highlight-group($solar-yellow);
    }
}

.homepage-footer {
    border-top: 2px solid hsl(12, 8%, 80%);
}

.by-line {
    color: hsl(12, 8%, 68%);
    line-height: 2em;
    text-transform: uppercase;
}