
<div class="first-contact">

    <div class="little-red-stripe"></div>

    <!-- quick access point for returning users -->
    <nav class="access container">
        <a class="access-btn" href="#">login</a>
    </nav>

    <!-- lead with brand name and promise -->
    <hgroup class="brand">
        <h1 class="brand-name">sokanu</h1>
        <h2 class="brand-promise">Find your perfect career and you'll never work a day in your life</h2>
    </hgroup>
</div>

<div class="diagonal">
    <div class="container">
        <div class="message">
            <h1 class="message-headline">The best career test anywhere</h1>
            <p class="message-copy">
                We offer the best career test anywhere, <strong>for free</strong>,
                because we want to help every person on the planet find their perfect career.
            </p>
            <h2 class="message-supporting-headline">Three things define sokanu, the place to find your perfect career</h2>
            <dl class="message-supporting-points">
                <dt>FUN.</dt>
                <dd>Our party is way more fun than the other guys.</dd>
                <dt>INTERNET.</dt>
                <dd>Because the internet is open and free, so are we.</dd>
                <dt>SCIENCE.</dt>
                <dd>We bust our beakers to put the power of science on your side.</dd>
            </dl>
        </div>
    </div>
</div>

<div class="diagonal">
    <!-- // -->
</div>

<div class="our-service">
    <div class="container">
                <section class="stage">
                    <h2 class="stage-headline">Discover your matches, <br> and yourself.</h2>
                    <p class="stage-description">
                        Using the powers of our matching algorithm and massive database we generate your unique compatibility with over 700 careers and insights into what makes you, you.
                    </p>
                </section>
                <section class="stage">
                    <h2 class="stage-headline">Explore more possibilities than you thought... possible.</h2>
                    <p class="stage-description">
                        Sokanu will be your guide through the world's largest database of careers, tailored to you with over 100 specific compatibility dimensions.
                    </p>
                </section>
                <section class="stage">
                    <h2 class="stage-headline">Choose your next step.</h2>
                    <p class="stage-description">
                        Your perfect career pays you to do the things you're really good and the things you love to do. We promise to help you decide which that career is.
                    </p>
                </section>
            </div>
</div>

