<link rel="stylesheet" href="styles/iterations/nautilus.css">
<div class="overflow-limiter">
    <div class="first-contact">
        <div class="container">
            <h1 class="title">You should read Jules Verne</h1>
        </div>
    </div>
    <div class="diagonal">
        <div class="container">
            <div class="col-sm-4 upright">
                <h3>Read More Fiction</h3>
                <p>Seriously, before your brain becomes drier than a sandstorm, beyond the point that you'll ever be able to relate to a child-like imagination or sense of wonder.</p>
            </div>
            <div class="col-sm-4 upright">
                <h3>He's a Science Fiction Forfather</h3>
                <p>Jules Verne wrote some of the first books in the “sience fiction” genre, ever.</p>
            </div>
            <div class="col-sm-4 upright">
                <h3>The Victorians Were Uniquely Intelligent</h3>
                <p>Reading <em>Twenty Thousand Leagues Under The Sea</em> will humble you with it's massive depth of catagorical knowledge. It will also bore you with it.</p>
            </div>
        </div>
    </div>
    <div class="service-explanation"></div>
    <div class="conversion"></div>
    <div class="footer"></div>
</div>