<link rel="stylesheet" href="styles/iterations/round-one-v1.css">

<div class="overflow-limiter">

    <header class="first-contact">
        <div class="little-red-stripe"></div>
        <div class="container">
            <nav class="access">
                <a href="#" class="photo-btn">login</a>
            </nav>
            <hgroup class="logo-group">
                <h1 class="logo">sokanu</h1>
                <h5 class="logo-helper">
                    <span>so</span> <span>•</span>
                    <span>can</span> <span>•</span>
                    <span>you</span>
                </h5>
            </hgroup>
            <div class="call-to-action row">
                <div class="message col-sm-4 col-sm-offset-2">
                    <p>Find your perfect career and you'll never work a day in your life.</p>
                </div>
                <div class="form col-sm-4">
                    <a class="btn btn-primary btn-lg btn-full" href="#">sign up with email</a>
                    <a class="btn btn-primary btn-lg btn-full" href="#">sign up with facebook</a>
                </div>
            </div>
        </div>
    </header>

    <section class="service-explanation">
        <div class="container">
            <h1 class="headline upright">The best career test anywhere</h1>
            <div class="row">
                <div class="col-sm-4 upright">
                    <h2 class="title">Discover career matches, <br> and yourself</h2>
                    <p>Using the powers of our matching algorithm and massive database we generate your unique compatibility with over 700 careers and insights into what makes you, you.</p>
                </div>
                <div class="col-sm-4 upright">
                    <h2 class="title">Explore more opportunity than you thought possible</h2>
                    <p>Sokanu will be your guide through the world's largest database of careers, tailored to you with over 100 specific compatibility dimenstions.</p>
                </div>
                <div class="col-sm-4 upright">
                    <h2 class="title">Choose your next step</h2>
                    <p>Your perfect career pays you to do the things your really good at and the things you love to do. We promise to help you choose which career that is.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="user-perspectives">
        <div class="container"></div>
    </section>

    <section class="conversion">
        <div class="container">
            <div class="col-sm-4 "></div>
        </div>
    </section>

    <div class="last-section">
        <section class="distinguishing">
            <div class="container">
                <div class="row">
                    <section class="fun col-sm-4">
                        <div class="icon"></div>
                        <h2 class="title">fun</h2>
                        <p class="description">Count on us to be serious about serious things, everything else is fair game.</p>
                    </section>
                    <section class="internet col-sm-4">
                        <div class="icon"></div>
                        <h2 class="title">internet</h2>
                        <p class="description">Our products are 100% free for you, because the internet.</p>
                    </section>
                    <section class="science col-sm-4">
                        <div class="icon"></div>
                        <h2 class="title">science</h2>
                        <p class="description">The psychometrics are in. Our career test is the best anywhere.</p>
                    </section>
                </div>
                <h3 class="headline col-sm-offset-4 col-sm-8">* Three things make sokanu the best place to find your perfect career</h3>
            </div>
        </section>
        <div class="container">
            <footer class="homepage-footer">
                <p class="by-line">sokanu 2014</p>
            </footer>
        </div>
    </div>
</div>