@import 'vars';
@import 'diagonal';
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';


// Diagonal Layout Styles

.diagonal {
    transform-origin: top center;
}

.diagonal > .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .upright {
        flex: auto;
        flex-grow: 0;
        flex-shrink: 0;

        h3 {
            margin-top: 0;
        }
    }
}

.overflow-limiter {
    overflow-x: hidden;
}


// Arbitrary Demonstration Styles

.first-contact {
    display: flex;
    height: 100vh;

    align-items: center;
    justify-content: center;

    background-image: url(../../images/nautilus.jpg);
    background-size: cover;
    background-position: center center;

    .title {
        flex: auto;
        flex-grow: 0;

        color: white;
        font-size: 5em;
        font-weight: bold;
        text-align: center;
    }
}

.service-explanation {
    height: 80rem;
    background-image: url('http://subtlepatterns.com/patterns/geometry2.png');
}

.conversion {
    @include diagonal($angle: -12deg);
    @media (min-width: 1500px) {
        @include diagonal($angle: -8deg);
    }
}

.footer {
    height: 68rem;
    background-color: hsl(212, 32%, 95%);
}