@mixin diagonal ($height: 32rem, $angle: 12deg, $bg-color: white) {
    height: $height;
    margin: -$height/2 0;

    transform: rotate($angle);

    background-color: $bg-color;
    box-shadow: -24em 0 0 $bg-color, 24em 0 0 $bg-color;

    .upright {
        transform: rotate(-$angle);
        transform-origin: center;
    }
}

.diagonal {
    @include diagonal($angle: 12deg);
    @media (min-width: 1500px) {
        @include diagonal($angle: 8deg);
    }
}