@import 'vars';

.iteration-1 {
    .first-contact {
        height: 120rem;
        background-color: darken($synapse-blue, 25%);
    }

    .our-service {
        position: relative;
        height: 120rem;
        margin-top: -90rem;
        overflow: hidden;
    }
        .our-service:after {
            content: '';

            position: absolute;
            top: 0; left: 0;

            display: block;
            width: 200%; height: 100%;

            background-color: $sokanu-red;
            transform-origin: top left;
            transform: rotate(32deg);
        }
}